ion-header {
  background-color: #d4af37; 
  color: #000000; 

  ion-toolbar {
    --background: transparent; 
    color: #000; 

    ion-title,
    ion-button {
      color: #000; 
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
}

ion-content {
  --background: black; 
  background-color: black;
}

/* Estilo de encabezado principal */
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 5%;
  font-size: 40px;
  color: #d4af37; 
}

/* Contenedor para la foto de perfil o logo */
.logo-container,
.perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000; 
  padding-top: 5%;
}

.logo-img,
.foto {
  width: 150px; 
  height: auto;
  border-radius: 50%;
  background-color: #333; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px; 
  margin: 20px auto; 
}

/* Estilo de nombres y títulos */
.nombre {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 30px;
  color: black;
}

/* Contenedor de formularios */
.formuser {
  text-align: center;
  padding: 5% 15%; 
  margin-bottom: 10px;
}

.input-container {
  margin-bottom: 15px;
}

ion-input {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: start;
}

/* Mensajes de error */
p.error {
  color: red;
  font-size: 14px;
  margin: 5px 0 10px;
  text-align: left;
}

/* Contenedor de botones */
.btns {
  text-align: center;
  padding-top: 10px;

  ion-button {
    margin: 5px; 
  }
}

/* Tarjeta de perfil */
.cardperfil {
  border: 2px solid #d4af37; 
  border-radius: 10px;
  margin: 10px auto; 
  padding: 20px; 
}

/* Encabezado de tarjetas */
ion-card-header {
  padding: 0;
  width: 100%;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* Otros textos */
.d1,
.d2,
.d3,
.d4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
