ion-header {
    background-color: #d4af37; /* Fondo dorado */
    color: #000000; /* Texto negro */
  
    ion-toolbar {
      --background: transparent; /* Fondo transparente del toolbar para heredar el dorado */
      color: #000; /* Color del texto e iconos dentro del toolbar */
  
      ion-title,
      ion-button {
        color: #000; /* Asegura que el texto e iconos sean negros */
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
    }
  }
  
  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 5%;
    font-size: 40px;
    color: #d4af37;
  }
  
  .formuser {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  ion-item {
    margin-bottom: 10px; /* Espacio entre campos */
  }
  
  ion-input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d4af37;
  }
  
  .btns {
    text-align: center;
    margin-top: 20px;
  
    ion-button {
      margin: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
  
  ion-content {
    --background: black;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  p.error {
    color: red;
    font-size: 14px;
    margin: 5px 0 10px;
    text-align: left;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }