<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Recuperar contraseña</h1>

  <div class="formuser">
    <ion-item>
      <ion-input 
        label="Ingrese su NickName" 
        label-placement="floating" 
        placeholder="nickname" 
        [(ngModel)]="nickname">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input 
        label="Ingrese su Nueva Contraseña" 
        label-placement="floating" 
        placeholder="Nueva Contraseña" 
        type="password" 
        [(ngModel)]="clave">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input 
        label="Confirme su Nueva Contraseña" 
        label-placement="floating" 
        placeholder="Confirmar Contraseña" 
        type="password" 
        [(ngModel)]="confirmarClave">
      </ion-input>
    </ion-item>
  </div>

  <div class="btns">
    <ion-button fill="outline" color="warning" (click)="validarCampos()">Actualizar Contraseña</ion-button>
    <ion-button fill="outline" color="medium" (click)="cancelar()">Cancelar</ion-button>
  </div>
</ion-content>