<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Inicio de sesión</h1>

<div class="formuser">
    <ion-item>
      <ion-input label="Ingrese su NickName" label-placement="floating" placeholder="nickname" [(ngModel)]="nickname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Ingrese su Contraseña" label-placement="floating" placeholder="contraseña" type="password" [(ngModel)]="clave" ></ion-input>
    </ion-item>
</div>
  <div class="btns">
    <ion-button fill="outline" color="warning" (click)="validarCampos()">Ingresar {{ nickname }}</ion-button>
    <ion-button fill="outline" color="dark" [routerLink]="['/register']">Crear una cuenta</ion-button>
  </div>  
</ion-content>
