<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
<div class="formuser">
  <form>
    <ion-item>
      <ion-input label="NickName" label-placement="floating" placeholder="JuanGamer666" [(ngModel)]="nickname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Contraseña" label-placement="floating" placeholder="contraseña" type="password" [(ngModel)]="clave"></ion-input>
    </ion-item>
  </form>
</div>
  <div class="btns">
    <ion-button fill="outline" color="warning" [routerLink]="['/inicio']">Acceder</ion-button>
    <ion-button fill="outline" color="light">Crear una cuenta</ion-button>
  </div>  
</ion-content>
