.formuser {
    text-align: center;
    padding-top: 10%;
  }

form {
    border-radius: 10px;
    box-shadow: 0 5px 30px rgb(255, 174, 0); /* Sombra ligera */
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

ion-input{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btns{
    text-align: center;
}