.content{
    background-color: black;
    --background: transparent;
}

h1{
    font-size: 20px;
    padding-left: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    margin-top: 10%;
}

.btn-3puntos {
    position: absolute; 
    top: 8px; 
    right: 8px; 
    padding: 0;
    height: auto;
    width: auto;
    margin-bottom: 10%;
    
    img {
      height: 25px; 
      width: 25px;
      border: none; 
      border-radius: 0; 
    }
  }