<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>usuariosbaneados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h1>Lista de usuarios baneados</h1>

<ion-card>
  <ion-title>Juan666</ion-title>
  <p>motivo: Contenido ofensivo</p>
  <ion-button fill="outline" color="warning">Desbanear</ion-button>
  <ion-button fill="outline" color="danger">Añadir tiempo</ion-button>
</ion-card>

<ion-card>
  <ion-title>PAPIGUILLE</ion-title>
  <p>motivo: Acoso o intimidación</p>
  <ion-button fill="outline" color="warning">Desbanear</ion-button>
  <ion-button fill="outline" color="danger">Añadir tiempo</ion-button>
</ion-card>

<ion-card>
  <ion-title>Red</ion-title>
  <p>motivo: Infracción de normas de la comunidad</p>
  <ion-button fill="outline" color="warning">Desbanear</ion-button>
  <ion-button fill="outline" color="danger">Añadir tiempo</ion-button>
</ion-card>

<ion-card>
  <ion-title>Scorpion16</ion-title>
  <p>motivo: Violación de derechos de autor</p>
  <ion-button fill="outline" color="warning">Desbanear</ion-button>
  <ion-button fill="outline" color="danger">Añadir tiempo</ion-button>
</ion-card>

<ion-card>
  <ion-title>ElThunas</ion-title>
  <p>motivo: Incitación al odio</p>
  <ion-button fill="outline" color="warning">Desbanear</ion-button>
  <ion-button fill="outline" color="danger">Añadir tiempo</ion-button>
</ion-card>

<ion-card>
  <ion-title>Marcelo -u-</ion-title>
  <p>motivo: Contenido ilegal</p>
  <ion-button fill="outline" color="warning">Desbanear</ion-button>
  <ion-button fill="outline" color="danger">Añadir tiempo</ion-button>
</ion-card>

<ion-card>
  <ion-title>Gabriel Boric</ion-title>
  <p>motivo: Contenido sexual explícito</p>
  <ion-button fill="outline" color="warning">Desbanear</ion-button>
  <ion-button fill="outline" color="danger">Añadir tiempo</ion-button>
</ion-card>

</ion-content>
