<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
      <ion-back-button></ion-back-button> <!--boton para retroceder-->
    </ion-buttons>
    <ion-title>comunidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="creacom">
      <h1>¿Quieres crear tu propia comunidad de esport?</h1>
      <ion-button fill="outline" color="warning" [routerLink]="['/crearcomunidad']">Crear comunidad</ion-button>
    </div>

    <ion-card class="cardcom">
      <p>Aguante el colo-colo</p>
      <img src="assets/img/fifa.jpeg" alt="fifita">
      <ion-button fill="outline" color="warning">Unirse</ion-button>
    </ion-card>

    <ion-card class="cardcom">
      <p>Fortnite balistic mal hecho</p>
      <img src="assets/img/valo.jpeg" alt="valito">
      <ion-button fill="outline" color="warning">Unirse</ion-button>
    </ion-card>

    <ion-card class="cardcom">
      <p>No sabia que tenia un juego, el juego</p>
      <img src="assets/img/over.jpg" alt="ow">
      <ion-button fill="outline" color="warning">Unirse</ion-button>
    </ion-card>

</ion-content>
