/* Aplica la fuente globalmente en el contenido */
ion-content {
    --background: #000;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .bordeDorado{
    border: 2px solid #d4af37; 
  }
  
  /* Estilos para las tarjetas */
  ion-card {
    background-color: #000;
    margin-bottom: 16px;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  ion-card-header {
    background-color: #333;
  }
  
  ion-card-title {
    color: #d4af37;
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Estilos para los elementos de input */
  ion-item {
    background-color: #000;
    border: 2px solid #d4af37;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  ion-label {
    color: #fff;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  ion-input, ion-textarea {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Estilos para las imágenes */
  ion-img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  /* Estilos para los botones */
  ion-button {
    margin-top: 12px;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  ion-button.fill {
    --background: transparent;
    --border-radius: 8px;
  }
  
  ion-button[color="warning"] {
    border: 2px solid #d4af37;
    color: #d4af37;
  }
  
  ion-button[color="warning"]:hover {
    --background: #d4af37;
    color: #000;
  }
  
  ion-button[color="light"] {
    color: #fff;
    background-color: #333;
    border: 2px solid #d4af37;
  }
  

