<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cambiar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Pregunta de Seguridad -->
    <ion-item>
      <ion-label position="floating">Pregunta de Seguridad</ion-label>
      <ion-input [(ngModel)]="preguntaSeguridad" required></ion-input>
    </ion-item>
    <p *ngIf="errores.preguntaSeguridad" class="error-message">{{ errores.preguntaSeguridad }}</p>

    <!-- Nueva Contraseña -->
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="clave" required></ion-input>
    </ion-item>
    <p *ngIf="errores.clave" class="error-message">{{ errores.clave }}</p>

    <!-- Confirmar Contraseña -->
    <ion-item>
      <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmarClave" required></ion-input>
    </ion-item>
    <p *ngIf="errores.confirmarClave" class="error-message">{{ errores.confirmarClave }}</p>
  </ion-list>

  <ion-button expand="full" (click)="cambiarContrasena()">Cambiar Contraseña</ion-button>
</ion-content>